<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of list; let i = index">
        <td>{{ list.id }}</td>
        <td>{{ list.name }}</td>
        <td>{{ list.address }}</td>
        <td>{{ list.email }}</td>
        <td class="operations">
          <i
            class="fa fa-trash-o"
            style="font-size: 22px; cursor: pointer; margin-right: 20px"
            (click)="deletResto(list.id)"
          ></i>
          <a routerLink="/update/{{ list.id }}"
            ><i
              class="fa fa-edit"
              style="font-size: 22px; color: black; cursor: pointer"
            ></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
